#color-image{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-direction: column-reverse;
  width: 1024px;
  height: 512px;
}

#color-image .row{
  width: 100%;
  display: flex;
}

#color-image .row .col{
  flex: 1;
}

#color-image .color-block{
  display: block;
  width: 4px;
  height: 4px;
  box-sizing: border-box;
}